<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ocupacao de Espacos Comerciais</title>
<link th:href = "@{/css/main.css}" rel="stylesheet">
</head>
<body>
	<div>
		<h1 id="title">Seja Bem vindo</h1>
	</div>
	
	<nav>
		<ul>
			<li><a href="http://localhost:8080/login" >Fazer login</a></li>
			<li><a href="http://localhost:8080/register">Fazer Sign Up</a></li>
			<li><a href="http://localhost:8080/getOcupation">Consultar grau de ocupacao</a></li>
			<li><a href="http://localhost:8080/menu">Ir para o menu</a></li>
		</ul>
	</nav>	
</body>
</html>